* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    font-family: arial. sans-serif, serif;
}

.contenedor { 
    width: 1000px;
    background: #ccc;
    margin: 20px auto;
}

header {
    background: #30323d;
    color: #fff;
    padding: 20px;
}

.main {
    background: #fff;
    padding: 20px;
    width: 700px;
    float: left;
    box-sizing: border-box;
}
aside {
    background: #e8c547;
    color: #fff;
    padding: 20px;
    width: 300px;
    float: left;
    box-sizing: border-box;
}

footer {
    clear: both;
    background: #4d5061;
    padding: 20px;
    color: white;
}